section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('https://images.pexels.com/photos/6214479/pexels-photo-6214479.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat;
    background-size: cover;
    background-position: center;
}
.home-content{
    max-width: 50rem;
}
.home-content h4{
    font-size: 3.5rem;
    color: #333 ;
   
}
.home-content span{
    font-size: 3rem;
    color: #651fff;
    padding: 1rem 0;
    line-height: 1.5;
}
.home-content p{
    font-size: 1rem;
    color: #333;
    padding: 0.5rem 0;
}
.home-content .real{
    /* background: rgba(161, 159, 159, 0.664); */
    padding: 0 5px;
    color: #333;
    border-radius: 5px;
    font-size: 1.3rem;

}
.home-content p{
    font-size: 1.3rem;
}
.btn-shop-now{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .7rem 1.7rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.btn-shop-now:hover{
    background: #651fff;
    color: #fff;
}
.shop-cart{
    font-size: 4rem;
}


@media (min-width:450px){
    .home-content span{
        font-size: 2.4rem;
    }
}
 