:root {
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
  }
  .testimonial{
    background: #d8d5d5;
    color: #000;
    padding: 40px 25px;
  }
.client-review{

}
.card{
    border: none;
    border-radius: 40px;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    padding: 0;
}
.card-body span{
    font-size: large;
    color: #000;
}
.client-words{
    font-size: 1rem;
    color: #000;
}
.client-name{
    margin: 13px 0;
    color:  #651fff;
}
.country{

}